.mapboxgl-ctrl-legend .bubbles {
  position: relative;
  font-size: var(--map-legend-label-size);
  color: var(--map-legend-label-color);
  margin:
    var(--map-legend-margin)
    calc(1.5 * var(--map-legend-margin));

  li {
    left: 50%;
    text-align: center;

    & + li {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    span {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 50%;
      margin-bottom: -1px;
      border-bottom: 1px solid var(--map-legend-bubble-stroke);
      padding-bottom: 2px;
      text-align: left;
    }

    &:nth-child(2n + 1) span {
      left: 50%;
      text-align: right;
    }

    &::before {
      display: inline-block;
      content: '';
      height: calc(2 * var(--radius));
      width: calc(2 * var(--radius));
      border: 1px solid var(--map-legend-bubble-stroke);
      background: var(--map-legend-bubble-background);
      border-radius: 50%;
    }
  }
}
