{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "max-len": ["error", {
      "code": 100,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true
    }],
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": ["error", {
      "allow": ["response", "data"]
    }],
    "object-curly-newline": ["error", {
      "multiline": true,
      "consistent": true
    }],
    "arrow-parens": ["error", "as-needed"],
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "import/no-absolute-path": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "ts": "never"
    }]
  }
}
