{
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "max-len": ["error", {
      "code": 100,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true
    }],
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": ["error", {
      "allow": ["response", "data"]
    }],
    "object-curly-newline": ["error", {
      "multiline": true,
      "consistent": true
    }],
    "arrow-parens": ["error", "as-needed"],
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "import/no-absolute-path": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["/@", "./src"]],
        "extensions": [".js", ".json", "scss"]
      }
    }
  }
}
