.mapboxgl-ctrl-legend .list {
  margin: var(--map-legend-margin);

  li {
    padding: calc(0.25 * var(--map-legend-margin)) 0;
    display: flex;
    align-items: center;
    font-size: var(--map-legend-label-size);
    color: var(--map-legend-label-color);
    text-transform: uppercase;
  }

  &--highlight {
    &:hover li { opacity: 0.25; }

    li:hover {
      cursor: default;
      opacity: 1 !important;
    }
  }
}
