@import
  "variables",
  "lists",
  "components";

.mapboxgl-ctrl-legend {
  font: var(--map-legend-font);
  min-width: var(--map-legend-minwidth);
  max-width: var(--map-legend-maxwidth);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  & * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .minimizer {
    all: unset;
    height: var(--map-legend-minimizer-size);
    width: var(--map-legend-minimizer-size);
    background:
      var(--map-legend-background)
      var(--map-legend-minimizer-icon)
      no-repeat
      center center;
    background-size: var(--map-legend-minimizer-icon-size);
    border-radius: var(--map-legend-radius);
    box-shadow: var(--map-legend-shadow);
    cursor: pointer;

    &:hover { background-color: var(--map-legend-minimizer-hover-color) !important; }
  }

  .panes {
    background: var(--map-legend-background);
    border-radius: var(--map-legend-radius);
    box-shadow: var(--map-legend-shadow);
    width: auto;
    overflow: auto;
    max-height: var(--map-legend-maxheight);
  
    &:empty { display: none !important; }
  }

  details + details { border-top: var(--map-legend-border); }

  summary {
    color: var(--map-legend-title-color);
    font-size: var(--map-legend-title-size);
    margin: var(--map-legend-margin);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &::-webkit-details-marker { display: none; }

    .toggler {
      color: inherit;
      margin-left: auto;
      width: var(--map-legend-title-size);
      flex: 0 0 var(--map-legend-title-size);
      height: var(--map-legend-title-size);
      background-color: currentcolor;
      mask-image: var(--toggler-hidden-icon);
      mask-size: 100%;
      opacity: var(--toggler-hidden-opacity);
      cursor: pointer;

      &--visible {
        mask-image: var(--toggler-visible-icon);
        opacity: 1;
      }
    }
  }

  .maplibregl-ctrl-bottom-right &,
  .maplibregl-ctrl-top-right &,
  .mapboxgl-ctrl-bottom-right &,
  .mapboxgl-ctrl-top-right & { align-items: flex-end; }

  .maplibregl-ctrl-bottom-right &,
  .maplibregl-ctrl-bottom-left &,
  .mapboxgl-ctrl-bottom-right &,
  .mapboxgl-ctrl-bottom-left & { flex-direction: column-reverse; }
  
}
