.mapboxgl-ctrl-legend .gradient {
  margin: var(--map-legend-margin);

  .labels {
    position: relative;
    height: calc(1.5 * var(--map-legend-label-size));
    font-size: var(--map-legend-label-size);

    span {
      position: absolute;
      color: var(--map-legend-label-color);
      transform: translateX(-50%);

      &:first-child { transform: none; }
      &:last-child { transform: translateX(-100%); }
    }
  }

  .bar {
    position: relative;
    height: var(--map-legend-thumb-height);
    background: #ccc;
    border-radius: var(--map-legend-thumb-radius);
  }

  &--highlight {
    .bar:hover::before {
      content: attr(data-label);
      display: block;
      height: calc(var(--map-legend-thumb-height) + 0.25rem);
      width: 2px;
      background: currentcolor;
      position: absolute;
      top: -0.125rem;
      left: 0;
      font-size: var(--map-legend-label-size);
      transform: translate(calc(-50% + var(--x, 0)));
    }
  }
}

.mapboxgl-ctrl-legend .list--color li::before {
  content: "";
  display: block;
  height: var(--map-legend-thumb-height);
  width: var(--map-legend-thumb-height);
  background: var(--color);
  margin-right: calc(0.5 * var(--map-legend-margin));
  border-radius: var(--map-legend-thumb-radius);
}
