@import 'variables';

.mapboxgl-ctrl-legend {
	font: var(--map-legend-font);
	min-width: var(--map-legend-minwidth);
	background: var(--map-legend-background);
	border-radius: var(--map-legend-radius);
	box-shadow: var(--map-legend-shadow);
	width: auto;
	position: relative;
	overflow: auto;
	max-width: var(--map-legend-maxwidth);
	max-height: var(--map-legend-maxheight);

	& * {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&:empty { display: none; }

	details + details { border-top: var(--map-legend-border); }

	summary {
		color: var(--map-legend-title-color);
		font-size: var(--map-legend-title-size);
		margin: var(--map-legend-margin);
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;

		&::-webkit-details-marker { display: none; }

		.toggler {
			color: inherit;
			margin-left: auto;
			width: var(--map-legend-title-size);
			height: var(--map-legend-title-size);
			background-color: currentColor;
			mask-image: var(--toggler-hidden-icon);
			mask-size: 100%;
			opacity: var(--toggler-hidden-opacity);
			cursor: pointer;

			&--visible {
				mask-image: var(--toggler-visible-icon);
				opacity: 1;
			}
		}
	}

	.list {
		margin: var(--map-legend-margin);

		li {
			margin: calc(0.5 * var(--map-legend-margin)) 0;
			display: flex;
			align-items: center;
			font-size: var(--map-legend-label-size);
			color: var(--map-legend-label-color);
			text-transform: uppercase;
		}

		&--color li::before {
			content: '';
			display: block;
			height: var(--map-legend-thumb-height);
			width: var(--map-legend-thumb-height);
			background: var(--color);
			margin-right: calc(0.5 * var(--map-legend-margin));
			border-radius: var(--map-legend-thumb-radius);
		}

		&--icons .icon {
			margin-right: calc(0.5 * var(--map-legend-margin));
			height: var(--map-legend-symbol-size);
			width: var(--map-legend-symbol-size);
		}
	}

	.gradient {
		margin: var(--map-legend-margin);

		.labels {
			position: relative;
			height: calc(1.5 * var(--map-legend-label-size));
			font-size: var(--map-legend-label-size);

			span {
				position: absolute;
				color: var(--map-legend-label-color);
				transform: translateX(-50%);

				&:first-child { transform: none; }
				&:last-child { transform: translateX(-100%); }
			}
		}

		.bar {
			height: var(--map-legend-thumb-height);
			background: #ccc;
			border-radius: var(--map-legend-thumb-radius);
		}
	}

	.bubbles {
		position: relative;
		font-size: var(--map-legend-label-size);
		color: var(--map-legend-label-color);
		margin:
			var(--map-legend-margin)
			calc(1.5 * var(--map-legend-margin));

		li {
			left: 50%;
			text-align: center;

			& + li {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}

			span {
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 50%;
				margin-bottom: -1px;
				border-bottom: 1px solid var(--map-legend-bubble-stroke);
				padding-bottom: 2px;
				text-align: left;
			}

			&:nth-child(2n + 1) span {
				left: 50%;
				text-align: right;
			}

			&::before {
				display: inline-block;
				content: '';
				height: calc(2 * var(--radius));
				width: calc(2 * var(--radius));
				border: 1px solid var(--map-legend-bubble-stroke);
				background: var(--map-legend-bubble-background);
				border-radius: 50%;
			}
		}
	}
}
